<%= simple_form_for @time_log, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :log, as: :text %>
    <%= f.input_field :datetime, as: :hidden, value: "#{DateTime.now}", class: 'form-control input-sm datetime_hidden' %>
    <%= f.input :duration, as: :integer, input_html: { value: 60 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,
                remote: true,
                format: :html %>
    <%= link_to 'Delete', 
                @time_log, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                format: :html,
                remote: true unless @time_log.new_record? %>
  </div>
<% end %>
