%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Duration:
  = @task.duration
%p
  %b Description:
  = @task.description
%p
  %b Content:
  = link_to @task.content, @task.content
%p
  %b Deadline:
  = @task.deadline

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
