.container-fluid
  .row
    .panel.panel-warning
      .panel-heading
        -#.container-fluid{:style => 'padding: 0px;'}
        %ul.nav.nav-pills.nav-primary{ :id => "pills-tab", :role => "tablist"}
          %li.nav-item
            %a#pills-info-tab.nav-link.active{"aria-controls" => "pills-info", "aria-selected" => "true", "data-toggle" => "pill", :href => "#tab1-#{@program.id}", :role => "tab"} Info 
          %li.nav-item
            %a#pills-about-tab.nav-link.active{"aria-controls" => "pills-about", "aria-selected" => "true", "data-toggle" => "pill", :href => "#tab2-#{@program.id}", :role => "tab"} About 
          %li.nav-item
            %a#pills-download-tab.nav-link.active{"aria-controls" => "pills-download", "aria-selected" => "true", "data-toggle" => "pill", :href => "#tab3-#{@program.id}", :role => "tab"} Dowload 
        #pills-tabContent.tab-content
          #pills-info.tab-pane.fade.show.active{"aria-labelledby" => "pills-info-tab", :role => "tabpanel"} ...
          #pills-about.tab-pane.fade{"aria-labelledby" => "pills-about-tab", :role => "tabpanel"} ...
          #pills-download.tab-pane.fade{"aria-labelledby" => "pills-download-tab", :role => "tabpanel"} ...

      .panel-body
        .tab-content
          .tab-pane.active{ :id => "tab1-#{@program.id}" }
            .container-fluid
              %h2.text-center{:style => 'margin:0px'}
                %span.text-muted=@program.title
              %br
              .row
                .col-xs-7.col-md-8
                  %p.lead{:style => "margin-bottom: 0px;"} 
                    #{@program.estimated_content_length_text} minutes
                  %p.lead 
                    #{@program.sections.length } sections 
                  -#%p.lead
                    Total Time Commitment: #{@program.total_commitment_string}
                -#.col-xs-3
                  .text-center
                    %h5{:style => "margin-top: 5px;"}  Weeks
                  .row.text-center
                    %span.label.label-primary #{@program.weeks}
                
          .tab-pane{ :id => "tab2-#{@program.id}" }
            %nav{"aria-label" => "Page navigation"}
              %ul.pagination
                %li
                  %a{"aria-label" => "Previous", :href => "#"}
                    %span{"aria-hidden" => "true"} «
                %li
                  %a{:href => "#"} 1
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
                %li
                  %a{:href => "#"} 4
                %li
                  %a{:href => "#"} 5
                %li
                  %a{"aria-label" => "Next", :href => "#"}
                    %span{"aria-hidden" => "true"} »
            .lead=@program.description
          .tab-pane.text-center{ :id => "tab3-#{@program.id}" }
            %form{ action: "/routines/#{@program.id}.ics", method: 'get', id: "myForm#{@program.id}", style: "margin-top:0px;"}
              %br
              .row-fluid.text-center
                .btn-group{"data-toggle" => "buttons"}
                  -Routine::DAYS.each do |day|
                    %label.btn.btn-primary
                      %input{type: "checkbox", name:"days[]", value: day}=day[0,1]
                :javascript
                  $('.btn').button()
              %br
              .row-fluid.text-center
                .form-group{:style => "width:250px"}
                  .input-group.date{ :id => "datetimepicker#{@program.id}" }
                    %input.form-control{type: "text", name: 'datetime', value: @default_start}
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar
                  :javascript
                    $(function () {
                      $("#datetimepicker#{@program.id}").datetimepicker({
                      });
                    });
              .row-fluid.text-center
                %input.btn.btn-success{:type => 'submit', :value => 'Download'}
            :javascript
              $("#myForm#{@program.id}").submit(function() {
                  $("#myForm#{@program.id} .btn.active").each(function() {
                       var input = document.createElement("input");
                       input.setAttribute("type", "hidden");
                       input.setAttribute("name", this.name);
                       input.setAttribute("value", this.value);
                       document.getElementById("myForm#{@program.id}").appendChild(input);
                   });
              });

