%h1 Listing programs

%table
  %thead
    %tr
      %th Title 
      %th Content Length
      %th Sections
      %th Link
      %th
      %th
      %th
      %th

  %tbody
    - @programs.each do |program|
      %tr
        %td= program.title
        %td= program.estimated_content_length_text
        %td= program.sections.count
        %td
          %a{:href => "#{program.link}"} link 
        %td
        %td
        %td= link_to 'Show', program
        %td= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Program', new_program_path
