- @programs.each do |program|
  -@program = program
  = render 'programs/program_panel'
%h1 Listing programs

%table
  %thead
    %tr
      %th Title 
      %th Content Length
      %th Sections
      %th Link
      %th
      %th
      %th
      %th

  %tbody
    - @programs.each do |program|
      %tr
        %td= program.title
        %td= program.estimated_content_length_text
        %td= program.sections.count
        %td
        %td
        %td
        %td= link_to 'Show', program

%br

= link_to 'New Program', new_program_path
