%p#notice= notice

%h3
  Used by 
  =@program.num_subscribed
  users
%table
  %thead
    %tr
      %th Title 
      %th Content Length
      %th Sections
      %th Link
      %th 

  %tbody
    %tr
      %td= @program.title
      %td= @program.estimated_content_length_text
      %td= @program.sections.count
      %td
        = button_to "Visit Program Site", @program.link
      %td
        = button_to 'Subscribe', subscribe_program_path(@program.id), method: :post


%h2 Sections
%table
  %thead
    %tr
      %th Title 
      %th Content Length
      -#%th Description
      %th Preview 

  %tbody
    - @program.sections.each do |section|
      %tr
        %td= section["title"]
        %td= section["content_length_text"]
        -#%td= section["description"]
        %td
          %a{:href => "https://udemy.com#{section["items"][0]["preview_url"]}"} Preview 

= link_to 'Back', programs_path
