= simple_form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .form-inputs
    = f.input :name
    = f.input :duration, as: :integer
    = f.input :description, as: :text
    = f.input :content, as: :text
    = f.input :due_date, input_html: { class: "form-control input-sm date-picker"}
    = f.input_field :deadline, as: :hidden, value: @task.deadline, class: 'form-control input-sm task-deadline-hidden'

    .actions
      = f.submit 'Save'
